@font-face {
    font-family: 'Muli Black';
    src: url('../components/fonts/Muli-Black.ttf') format('truetype');
    font-weight: 900; /* Define o peso da fonte como "Black" */
}
  
  @font-face {
    font-family: 'Muli Light';
    src: url('../components/fonts/Muli-Light.ttf') format('truetype');
    font-weight: 300; /* Define o peso da fonte como "Light" */
} 