@charset "utf-8";

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .container-section {
        width: 100%;
        height: 100%;
        padding-bottom: 45px;
    }

    .container-text > h1 {
        font-size: 1.9em;
    }

    .container-text > h2 {
        font-size: 0.9em;
    }

    .container-video {
        height: 300px;
    }

    iframe {
        border-radius: 30px;
    }

    .container-button {
        height: 15px;
    }

    a {
        font-size: 0.9em !important;
    }
}